a{
    text-decoration: none;
}

a,
h1,
h4,
p{
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
}

/*Abaixo remove o ponto do li  */
li{
    list-style-type:none;
}

img{
    border-radius: 50%;
}