html{
    background-color:rgb(135, 162, 185);
}

.letra,
.paragrafo{
    font-family: 'Lucida Sans';
}

.letra{
    font-size: 2rem;
}

.musica{
    font-size: 1.7rem;
    text-transform: capitalize;
}

.paragrafo{
    font-size: 1rem;
    font-style: normal;
}