html{
    background-color: rgb(173, 176, 184);
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.cantores{
    text-align: center;
    color: rgb(177, 61, 61);
    font-family: 'Times New Roman';
}